## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
X = application_df.copy()
X.drop("EIN", axis=1, inplace=True)
X.drop("NAME", axis=1, inplace=True)
X.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
unique_counts = X.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = X_train.shape[1]
hidden_nodes_layer1 = 128
hidden_nodes_layer2 = 64
hidden_nodes_layer3 = 32
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
nn.add(tf.keras.layers.Dropout(0.2))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))
nn.add(tf.keras.layers.Dropout(0.2))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                     │ (None, 128)                 │       2,510,464 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout (Dropout)                    │ (None, 128)                 │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_13 (Dense)                     │ (None, 64)                  │           8,256 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dropout_1 (Dropout)                  │ (None, 64)                  │               0 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_14 (Dense)                     │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_15 (Dense)                     │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 2,520,833 (9.62 MB)

 Trainable params: 2,520,833 (9.62 MB)

 Non-trainable params: 0 (0.00 B)

In [35]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [36]:
# Train the model
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss", patience=10, restore_best_weights=True
)

fit_model = nn.fit(
    X_train_scaled, y_train, epochs=200, validation_data=(X_test_scaled, y_test), callbacks=[early_stopping]
)

Epoch 1/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 41s 47ms/step - accuracy: 0.7412 - loss: 0.5298 - val_accuracy: 0.5999 - val_loss: 0.6189
Epoch 2/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 36s 41ms/step - accuracy: 0.8847 - loss: 0.2840 - val_accuracy: 0.6147 - val_loss: 0.6130
Epoch 3/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 31s 38ms/step - accuracy: 0.9618 - loss: 0.1088 - val_accuracy: 0.5777 - val_loss: 0.6238
Epoch 4/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 43s 41ms/step - accuracy: 0.9620 - loss: 0.0998 - val_accuracy: 0.5741 - val_loss: 0.7572
Epoch 5/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 33s 41ms/step - accuracy: 0.9606 - loss: 0.0954 - val_accuracy: 0.5782 - val_loss: 0.5974
Epoch 6/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 21s 26ms/step - accuracy: 0.9622 - loss: 0.0927 - val_accuracy: 0.5775 - val_loss: 0.6817
Epoch 7/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 49s 36ms/step - accuracy: 0.9623 - loss: 0.0917 - val_accuracy: 0.5850 - val_loss: 0.5900
Epoch 8/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 33s 41ms/step - accuracy: 0.9646 - loss: 0.0880 - val_accuracy: 0.5768 - val_loss: 0.5549
Epoch 9/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 32s 40ms/step - accuracy: 0.9623 - loss: 0.0900 - val_accuracy: 0.5810 - val_loss: 0.5764
Epoch 10/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 31s 38ms/step - accuracy: 0.9636 - loss: 0.0884 - val_accuracy: 0.6227 - val_loss: 0.5494
Epoch 11/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 42s 40ms/step - accuracy: 0.9635 - loss: 0.0891 - val_accuracy: 0.5745 - val_loss: 0.6338
Epoch 12/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 40s 39ms/step - accuracy: 0.9641 - loss: 0.0881 - val_accuracy: 0.5755 - val_loss: 0.6282
Epoch 13/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 31s 38ms/step - accuracy: 0.9639 - loss: 0.0872 - val_accuracy: 0.5741 - val_loss: 0.5914
Epoch 14/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 42s 39ms/step - accuracy: 0.9631 - loss: 0.0878 - val_accuracy: 0.5757 - val_loss: 0.6244
Epoch 15/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 41s 39ms/step - accuracy: 0.9643 - loss: 0.0858 - val_accuracy: 0.7078 - val_loss: 0.5217
Epoch 16/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 42s 40ms/step - accuracy: 0.9639 - loss: 0.0859 - val_accuracy: 0.7130 - val_loss: 0.5089
Epoch 17/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 32s 40ms/step - accuracy: 0.9637 - loss: 0.0887 - val_accuracy: 0.6950 - val_loss: 0.5282
Epoch 18/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 40s 39ms/step - accuracy: 0.9644 - loss: 0.0879 - val_accuracy: 0.5805 - val_loss: 0.5444
Epoch 19/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 30s 37ms/step - accuracy: 0.9663 - loss: 0.0830 - val_accuracy: 0.5755 - val_loss: 0.5935
Epoch 20/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 43s 40ms/step - accuracy: 0.9612 - loss: 0.0945 - val_accuracy: 0.6287 - val_loss: 0.5627
Epoch 21/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 40s 39ms/step - accuracy: 0.9634 - loss: 0.0901 - val_accuracy: 0.7353 - val_loss: 0.5167
Epoch 22/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 28s 35ms/step - accuracy: 0.9637 - loss: 0.0882 - val_accuracy: 0.6643 - val_loss: 0.5482
Epoch 23/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 32s 39ms/step - accuracy: 0.9622 - loss: 0.0906 - val_accuracy: 0.6897 - val_loss: 0.5312
Epoch 24/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 42s 40ms/step - accuracy: 0.9663 - loss: 0.0850 - val_accuracy: 0.7782 - val_loss: 0.5069
Epoch 25/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 41s 40ms/step - accuracy: 0.9639 - loss: 0.0884 - val_accuracy: 0.7756 - val_loss: 0.5100
Epoch 26/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 30s 37ms/step - accuracy: 0.9673 - loss: 0.0829 - val_accuracy: 0.7537 - val_loss: 0.4921
Epoch 27/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 43s 39ms/step - accuracy: 0.9647 - loss: 0.0875 - val_accuracy: 0.5918 - val_loss: 0.5708
Epoch 28/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 41s 39ms/step - accuracy: 0.9644 - loss: 0.0883 - val_accuracy: 0.7120 - val_loss: 0.5200
Epoch 29/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 31s 38ms/step - accuracy: 0.9662 - loss: 0.0856 - val_accuracy: 0.6063 - val_loss: 0.5418
Epoch 30/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 32s 40ms/step - accuracy: 0.9669 - loss: 0.0829 - val_accuracy: 0.7791 - val_loss: 0.5019
Epoch 31/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 41s 40ms/step - accuracy: 0.9638 - loss: 0.0878 - val_accuracy: 0.6700 - val_loss: 0.5660
Epoch 32/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 39s 38ms/step - accuracy: 0.9651 - loss: 0.0873 - val_accuracy: 0.7818 - val_loss: 0.4991
Epoch 33/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 42s 40ms/step - accuracy: 0.9648 - loss: 0.0859 - val_accuracy: 0.5742 - val_loss: 0.5818
Epoch 34/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 34s 31ms/step - accuracy: 0.9619 - loss: 0.0860 - val_accuracy: 0.6790 - val_loss: 0.5344
Epoch 35/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 25ms/step - accuracy: 0.9645 - loss: 0.0859 - val_accuracy: 0.5785 - val_loss: 0.6004
Epoch 36/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 24ms/step - accuracy: 0.9650 - loss: 0.0867 - val_accuracy: 0.7762 - val_loss: 0.4880
Epoch 37/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 19s 23ms/step - accuracy: 0.9642 - loss: 0.0880 - val_accuracy: 0.6738 - val_loss: 0.5541
Epoch 38/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 25ms/step - accuracy: 0.9627 - loss: 0.0907 - val_accuracy: 0.6992 - val_loss: 0.5200
Epoch 44/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 25ms/step - accuracy: 0.9632 - loss: 0.0897 - val_accuracy: 0.6792 - val_loss: 0.5297
Epoch 45/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 22s 27ms/step - accuracy: 0.9648 - loss: 0.0887 - val_accuracy: 0.7514 - val_loss: 0.5121
Epoch 46/200
804/804 ━━━━━━━━━━━━━━━━━━━━ 30s 37ms/step - accuracy: 0.9653 - loss: 0.0840 - val_accuracy: 0.6908 - val_loss: 0.5374

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - 7ms/step - accuracy: 0.7762 - loss: 0.4880
Loss: 0.4880300760269165, Accuracy: 0.7762098908424377

In [33]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.